<!DOCTYPE html>
<html>

<head>
<title><%= page.content.name %> - Wikipedia, the free encyclopedia</title>
<!--CSS BEGIN-->
<link href='/css/page.css' rel='stylesheet' type='text/css'>
<!--CSS END-->
<!--JS BEGIN-->
<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
<script type="text/javascript" src="/js/page.js" ></script>
<!--JS END-->
</head>

<body>
<!--LOGO SECTION-->
<div class="logo-section">
	<a href="index.html"><img src="/img/background-trans.png" width="110" height="110"></a>
	<img src="http://fontmeme.com/newcreate.php?text=WikipediA&name=LinLibertineC_Re-4.0_.1_.ttf&size=20&style_color=000000" alt="Wikipedia Logo" class="logo-desc" >
</div>


<!--ACCOUNT LOGIN ON THE TOP RIGHT-->
<div class="headline">
	<div class="login-btn">
		<img src="/img/login-icon.png" class="icon" >
		<a href="/new"><span class="login">New Page</span></a>
	</div>
</div>

<!--LEFT COLUMN SECTION BEGIN-->
<section class="left">
	<div class="nav">
		<div>
			<ul>
				<a><li>Main page<li></a>
				<a><li>Content<li></a>
				<a><li>Featured content<li></a>
				<a><li>Random article<li></a>
			</ul>	
		<div class="div-line"></div>
		</div>
		<div>
			<span class="category">Interaction</span>
			<ul class="sub">
				<a><li>Help<li></a>
				<a><li>About WikipediaMe<li></a>
				<a><li>Contact page<li></a>
			</ul>	
		<div class="div-line"></div>
		</div>
		<div>
			<span class="category">Tools</span>
			<ul class="sub">
				<a><li>Accounts used<li></a>
				<a><li>Page information<li></a>
				<a><li>Share this page<li></a>
			</ul>	
		<div class="div-line"></div>
		</div>
		<div>
			<span class="category">Languages</span>
			<ul class="sub">
				<a><li>English<li></a>
			</ul>
		</div>
	</div>
</section>
<!--LEFT COLUMN SECTION END-->

<!--TOP TAB LIST-->
<div class="right tab-list">
	<div class="tab">Article</div>
	<div class="tab untab">Talk</div>
</div>


<!--MAIN SECTION BEGIN-->
<sectoon class="right main">
	<div class="content">
		<span class="title"><%= page.content.name %></span>

		<div class="share-section">
			<input class="search-input" placeholder="Search">
			<span class="glyphicon glyphicon-search" id="search-btn" aria-hidden="true"></span>
		</div>

		<hr></hr>
		<p class="caption">From Wikipedia, the free encyclopedia</p>

		<div class="profile">
			<p class="username center"><%= page.content.name %></p>
			<p class="center"><img src="/img/default.jpg" width="200" height="200"></p>
			<div class="info">
				<span class="info-key">Major</span>
				<ul class="info-value" >
					<li><%= page.content.major %></li>					
				</ul>
			</div>			
			<div class="info">
				<span class="info-key">Alma Mater</span>
				<ul class="info-value" >
					<li><%= page.content.school %></li>					
				</ul>
			</div>	
			<div class="info">
				<span class="info-key">Interests</span>
				<ul class="info-value" >
					<% for (i=0;i< page.content.interests.length;i++) { %>
						<li><%= page.content.interests[i] %></li>	
					<% } %>
				</ul>
			</div>	
		</div>

		<p class="summary"><%= page.content.summary %></p>

		<div class="contents">
			<p class="contents-title center">Contents</p>
			<ol>				
				<a class="scroll" href="#personal-life"><li>Peronsal Life</li></a>
				<a class="scroll" href="#accomplishments"><li>Accompanishment</li></a>
				<a class="scroll" href="#references"><li>References</li></a>
			<ol>
		</div>

		<div class="part" id="personal-life">
			<p class="topic">Personal Life</p>
			<hr></hr>
			<p class="part-content"><%= page.content.life %></p>
		</div>

		<div class="part" id="accomplishments">
			<p class="topic">Accomplishments</p>
			<hr></hr>
			<p class="part-content"><%= page.content.accomplishments %></p>
		</div>

		<div class="part" id="references">
			<p class="topic">References</p>
			<hr></hr>
			<p class="part-content"><%= page.content.references %></p>
		</div>

	</div>
</section>
<!--MAIN SECTION END-->

<!--FOOTER-->
<footer>
	<p>This page was last modified on <span class="date">19 February 2015 at 00:25</span></p>
	<p><strong>Disclaimer</strong>: Node.js is the only real dev language.</span></p>
</footer>
</body>
</html>